<div id="{{id}}">
    <div class="row">
        <div class="col s12">
            <img src="/images/favicon.png" class="responsive-img bloom-icon" />
            Bloom
        </div>
        <div class="col s12 event-card">
            <div class="from-them">
                <p class="date-title">{{date}}</p>
                <p>We think you might enjoy these events coming up!</p>
            </div>
                {{#each events}}
                    <div class="card">
                        <div class="card-image">
                            <img src="{{admin.imageUrl}}" class="event-card-img" >
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{title}}</span>
                            <p class="card-time">{{timeHourFormat scheduled_date}} - {{timeHourFormat end_date}}</p>
                        </div>
                        <div class="col s12">
                            <a class="waves-effect waves-light btn text-center resp-option green card-register" id="register">Register</a>
                            <a class="waves-effect waves-light btn text-center resp-option green" style="float:right;">See Details</a>
                        </div>
                    </div>
                {{/each}}
        </div>
    </div>
    <div class="row submit-section">
        <div class="col s4">
            <img src="/images/finger-point.svg" class="responsive-img pointer">
        </div>
        <div class="col s8">
            <div class="text-center">
                <a class="waves-effect waves-light btn-large btn-full-width btn-events-done" data-qid="{{id}}">Done</a>
            </div>
        </div>
    </div>
</div>
